body {
  font-family: 'Montserrat', sans-serif;
  width: 330px;
  background: whitesmoke;
}

.mybutton {
  cursor: pointer;
  box-shadow: inset 1px 1px 2px #9150e6, inset -1px -1px 2px #311b4d;
  background-color: #59308e;
  border-radius: 4px;
  border: 1px solid #333333;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 100;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 11px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  filter: blur(.25px);
  text-decoration: none;
  user-select: none;
}

.mybutton:hover {
  opacity: 0.5;
}
